fastapi>=0.115.0
pydantic>=2.0.0
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
geopandas
shapely
openlocationcode
geopy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
requests
python-multipart
