DATABASE_URL=postgresql://postgres.jmcqqymmrgdtizxvceoq:blue1234567890%406575pearl@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
SECRET_KEY=super_secret_key_for_jwt
ALLOWED_ORIGINS=http://localhost:5173,https://wastewater-frontend.onrender.com